{{- if not .Values.github.existingSecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.fullname" . }}-github
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.github.existingSecretKeys.appId }}: {{ required "github.appId is required" .Values.github.appId | quote }}
  {{ .Values.github.existingSecretKeys.webhookSecret }}: {{ required "github.webhookSecret is required" .Values.github.webhookSecret | quote }}
  {{ .Values.github.existingSecretKeys.privateKey }}: {{ required "github.privateKey is required" .Values.github.privateKey | quote }}
{{- end }}
{{- if and .Values.telegram.enabled (not .Values.telegram.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.fullname" . }}-telegram
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.telegram.existingSecretKeys.token }}: {{ required "telegram.token is required when telegram.enabled=true" .Values.telegram.token | quote }}
  {{ .Values.telegram.existingSecretKeys.chatId }}: {{ required "telegram.chatId is required when telegram.enabled=true" .Values.telegram.chatId | quote }}
{{- end }}
