{% extends "base.html.j2" %}
{% block title %}Merge Sentinel Queue{% endblock %}
{% block meta %}
    <meta name="description" content="Merge Sentinel queue view">
{% endblock %}
{% block head_extra %}
    <script src="{{ app.url_for('static', filename='htmx.js') }}"></script>
{% endblock %}
{% block body %}
<h1>Update queue</h1>

<div hx-get="/queue/inner" hx-swap="innerHTML" hx-trigger="every 5s">
    {% include "queue_list.html.j2" %}
</div>
{% endblock %}
